.hero{

    min-height: calc(100vh - 70px);

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

    display:flex;

    justify-content:center;

    align-items:center;

    position:relative;
    margin-top:0;

}

.hero::before{

    content:"";

    position:absolute;

    inset:0;

    background:rgba(0,0,0,.45);

}

.hero-overlay{

    position:relative;

    z-index:2;

    text-align:center;

    color:white;

    max-width:800px;

    padding:20px;
    margin-top:-40px;

}

.hero-overlay h1{

    font-size:64px;

    font-weight:800;

    margin-bottom:20px;

}

.hero-overlay p{

    font-size:22px;

    margin-bottom:40px;

}

.hero-overlay button{

    padding:16px 42px;

    border-radius:50px;

    background:white;

    color:#111827;

    font-size:18px;

    font-weight:600;

    transition:.3s;
}

.hero-overlay button:hover{

    background:#2563EB;

    color:white;

    transform:translateY(-3px);

}